
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Cien Años De Soledad</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="~/Content/css/LCronica.css" rel="stylesheet" />
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<body>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->
    <!-- Static navbar -->
    <nav class="navbar navbar-inverse  navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">David Angulo</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">

                <ul class="nav navbar-nav navbar-right">
                    <li><a href="@Url.Action("Login","Login")">Inicio</a></li>
                    <li>@Html.ActionLink("Cerrar Sesion", "CerrarSesion", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>

    <section class="banner-section">
    </section>
    <section class="post-content-section">
        <div class="container">

            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 post-title-block">

                    <h1 class="text-center">Cien Años De Soledad</h1>
                    <ul class="list-inline text-center">
                        <li>|</li>
                        <li>Gabriel García Márquez |</li>
                        <li></li>
                    </ul>
                </div>
                <div class="col-lg-9 col-md-9 col-sm-12">
                    <p class="lead">Reseña del libro "Cien Años De Soledad"</p>
                    <p> Señalada como «catedral gótica del lenguaje», este clásico del siglo XX es el enorme 
                    y espléndido tapiz de la saga de la familia Buendía, en la mítica aldea de Macondo. 
                    Un referente imprescindible de la vida y la narrativa latinoamericana. «Muchos años después,
                    frente al pelotón de fusilamiento, el coronel Aureliano Buendía había de recordar aquella tarde
                    remota en que su padre lo llevó a conocer el hielo. Macondo era entonces una aldea de veinte casas
                    de barro y cañabrava construidas a la orilla de un río de aguas diáfanas que se precipitaban
                    por un lecho de piedras pulidas, blancas y enormes como huevos prehistóricos.
                    El mundo era tan reciente, que muchas cosas carecían de nombre, y para mencionarlas había que
                    señalarlas con el dedo.» Con estas palabras empieza la novela ya legendaria en los anales de la
                    literatura universal, una de las aventuras literarias más fascinantes de nuestro siglo.
                    Millones de ejemplares de Cien años de soledad leídos en todas las lenguas y el Premio Nobel
                    de Literatura coronando una obra que se había abierto paso «boca a boca» -como gusta decir al escritor-
                    son la más palpable demostración de que la aventura fabulosa de la familia Buendía-Iguarán, 
                    con sus milagros, fantasías, obsesiones, tragedias, incestos, adulterios, rebeldías, descubrimientos
                    y condenas, representaba al mismo tiempo el mito y la historia, la tragedia y el amor del mundo entero.
                    Pablo Neruda dijo...«El Quijote de nuestro tiempo.»</p>


                    <div class="image-block">
                        <img src="https://culturageek.com.ar/wp-content/uploads/2019/03/fotonoticia_20190306163229_640.jpg"width="800" class="img-responsive">
                    </div>


                </div>
                <div class="col-lg-3  col-md-3 col-sm-1">


                    <div class="well">
                        <h2>Gabriel García Márquez</h2>
                        <img src="https://upload.wikimedia.org/wikipedia/commons/0/0f/Gabriel_Garcia_Marquez.jpg" width="200" class="img-rounded" />
                        <p>(Lyon, 1900 - en el mar Tirreno, 1944) Novelista y aviador francés; sus experiencias como piloto fueron a menudo su fuente de inspiración. Tercero de los cinco hijos de una familia de la aristocracia (su padre tenía el título de vizconde), Antoine de Saint-Exupéry vivió una infancia feliz en las propiedades familiares aunque perdió a su progenitor a la edad de cuatro años. Estuvo muy ligado a su madre, cuya sensibilidad y cultura lo marcaron profundamente, y con la que mantuvo una voluminosa correspondencia durante toda su vida. </p>
                    </div>

                </div>
            </div>


        </div> <!-- /container -->
    </section>

    <section class="footer-link"></section>
</body>
</html>
